<div style="max-width:1000px;margin-top: 10px;">
    <mat-card>
        <div class="comment-container">
            <div style="font-weight: 500;">UserName</div>
            <div>Cupidatat qui non occaecat laboris ea Lorem deserunt aute labore anim dolor duis laboris. Ad in exercitation laborum cupidatat excepteur reprehenderit duis cillum sunt elit laborum cillum sit. Pariatur sint elit sunt minim officia esse ad sunt cupidatat in excepteur. Labore do deserunt sint commodo cillum consequat.</div>
        <div style="text-align: right;">{{"01/01/2000" | date}}</div>
        </div>
    </mat-card>
  </div>
