.example-card {
  max-width: 100%;
  min-width: 300px;
}

.center-item {
  width: 100%;
  text-align: center;
}

.filter-field {
  border-radius: 5px;
  border-color: #3f51b5;
  border-style: solid;
}

.one-filter-container {
  width: 100%;
}

.filter-header{
    font-weight: 500;
}

.checkbox-filter{
    padding-top: 10px;
    gap: 15px;
    justify-content: center;
}