<mat-card class="example-card">
    <div class="row">
        <mat-icon
        class="remove-item-icon"
        matTooltip="Remove item"
        matTooltipPosition="right"
        >remove_circle</mat-icon>
        <div>
            <img src="../../assets/images/dreamhouse.png" alt="" width="270" height="200">
        </div>
        <br>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span class="money">{{50000 | currency}}</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>Room amount</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>Floor amount</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>Pool</span>
                </div>
            </mat-list-item>
            <mat-divider>Balkon</mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>2015</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>Can rent</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>Chernivtsy</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>Novodnistrovsk</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>Khotyn</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="center-item">
                    <span>487 km<sup>2</sup></span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</mat-card>