<div class="d-flex">
    <div style="padding-top: 15px;">
        <mat-card class="example-card" style="border-radius: 0px; margin-right: 5px;">
            <div class="row">
                <div style="width:270px; height:200px;" class="center">
                    <div>
                        <div class="center">
                            <h4>Select sorting order</h4>
                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>Sorting order</mat-label>
                            <mat-select name="food">
                                <mat-option value="price">
                                    Price
                                </mat-option>
                                <mat-option value="area">
                                    Area
                                </mat-option>
                                <mat-option value="room">
                                    Room Number
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Cost:</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Room amount:</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Floor amount:</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Pool:</span>
                        </div>
                    </mat-list-item>
                    <mat-divider>Balkon:</mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Hause year:</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Can rent:</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Region:</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Distrinct</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>City</span>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div style="font-weight:bold">
                            <span>Area:</span>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card>
    </div>

    <div class="d-flex justify-content-start section">
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
        <app-advertisment-comparasion-info></app-advertisment-comparasion-info>
    </div>
</div>