.my-form {
  min-width: 500px;
  max-width: 1000px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.checks {
  margin-left: 10px;
  padding-top: 10px;
}

.imageMargins {
  margin-left: 20px;
  margin-top: 5px;
}

.phone-email{
  font-size: 12pt;
  font-weight: 500;
}