<app-page-name pageName="Advertisment Information"></app-page-name>
<div class="center">
  <div style="max-width:1000px;margin-top: 10px;">
    <mat-card class="my-card">
      <mat-card-content class="center">
        <form class="my-form">
          <div class="row">
            <mat-grid-list cols="2" rowHeight="1.5:1">
              <mat-grid-tile>
                <img src="../../assets/images/house.png" class="imageMargins" alt="" width="100%" height="100%">
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="row align-top-right" style="text-align: right; gap: 10px;">
                  <div class="money" style="font-size: 15pt;">
                    {{ad.price | currency}}</div>
                  <div>
                    <div style="cursor: pointer;" matTooltip="Copy email" matTooltipPosition="right">
                      <span class="phone-email">{{ad.ownerEmail}}</span>
                      <mat-icon class="align-self-vertical-middle" color="primary"> contact_mail</mat-icon>
                    </div>
                    <div style="cursor: pointer;" matTooltip="Copy number" matTooltipPosition="right">
                      <span class="phone-email">{{ad.ownerPhone}}</span>
                      <mat-icon class="align-self-vertical-middle" color="primary"> contact_phone</mat-icon>
                    </div>
                  </div>
                </div>
              </mat-grid-tile>

            </mat-grid-list>
            <div class="col">

              <mat-form-field class="full-width">
                <mat-label>Region</mat-label>
                <input matInput placeholder="Region" name="region" value="somevalue" readonly [(ngModel)]="ad.region">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>City/Village</mat-label>
                <input matInput placeholder="City/Village" name="city" readonly [(ngModel)]="ad.city">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street" name="street" readonly [(ngModel)]="ad.city">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Area</mat-label>
                <input matInput placeholder="Area" name="Area" readonly [(ngModel)]="ad.areaOfHouse">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Floor amount</mat-label>
                <input matInput placeholder="Floor Amount" name="floorAmount" readonly [(ngModel)]="ad.floorAmount" >
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Room amount</mat-label>
                <input matInput placeholder="Room Amount" name="roomAmount" readonly [(ngModel)]="ad.roomNumber" >
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Hause year</mat-label>
                <input matInput placeholder="Hause year" name="hauseYear" readonly [(ngModel)]="ad.houseYear" >
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Hause type</mat-label>
                <input matInput placeholder="Hause type" name="hauseType" readonly [(ngModel)]="ad.houseType" >
              </mat-form-field>

              <div class="row">
                <mat-checkbox class="checks" color="primary" name="pool" [checked]="ad.pool" (click)="$event.preventDefault()">Pool
                </mat-checkbox>
                <mat-checkbox class="checks" color="primary" name="balkon" [checked]="ad.balkon" (click)="$event.preventDefault()">Balkon
                </mat-checkbox>
                <mat-checkbox class="checks" color="primary" name="rent" [checked]="ad.rentOportunity" (click)="$event.preventDefault()">Rent Oportunity
                </mat-checkbox>
              </div>

            </div>

            <mat-form-field appearance="fill">
              <mat-label>Tags</mat-label>
              <textarea style="font-weight: bold;color: #3f51b5;padding-top: 5px;" [readonly]="true"
                matInput> #tag1</textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <textarea [readonly]="true" matInput name="description" [(ngModel)]="ad.description"></textarea>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<div class="center">
<app-comments></app-comments>
</div>