<app-page-name pageName="My advertisments"></app-page-name>
<div class="center">
    <button mat-raised-button color="primary" routerLink="/advertisment/create">Create Advertisment</button>
</div>
<div class="center spacing">
        <app-advertisment-short-info></app-advertisment-short-info>
</div>
<div class="center spacing">
    <app-advertisment-short-info></app-advertisment-short-info>
</div>
<div class="center spacing">
    <app-advertisment-short-info></app-advertisment-short-info>
</div>