<div class="main-container">
    <div class="advertisments-container">
        <div class="row">
            <div class="center" style="padding-top: 10px;">
                <app-advertisment-short-info></app-advertisment-short-info>
            </div>
            <div class="center" style="padding-top: 10px;">
                <app-advertisment-short-info></app-advertisment-short-info>
            </div>
            <div class="center" style="padding-top: 10px;">
                <app-advertisment-short-info></app-advertisment-short-info>
            </div>
            <div class="center" style="padding-top: 10px;">
                <app-advertisment-short-info></app-advertisment-short-info>
            </div>
        </div>
    </div>
    <div class="search-panel-container">
        <app-filter-panel class="sticky"></app-filter-panel>
    </div>
</div>