<div class="main-container">
    <div class="advertisments-container">
        <div class="row">
            <div class="center" style="padding-top: 10px;" *ngFor="let ad of advertisments">
                <app-advertisment-short-info [advertisment]="ad"></app-advertisment-short-info>
            </div>
        </div>
    </div>
    <div class="search-panel-container">
        <mat-card class="example-card">
            <div class="row">
                <div class="center" style="font-weight: bold;">
                    <span style="font-size: 15pt;">Filter Advertisments</span>
                </div>
                <br>
                <form action="">
                <mat-list>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container">
                            <div class="filter-header">Price:</div>
                            <div class="center-item">
                                <span>From </span>
                                <input type="number" class="filter-field">
                                <span> to </span>
                                <input type="number" class="filter-field">
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container">
                            <span class="filter-header">Room amount</span>
                            <div class="center-item">
                                <span>From </span>
                                <input type="number" class="filter-field">
                                <span> to </span>
                                <input type="number" class="filter-field">
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container">
                            <span class="filter-header">Floor amount</span>
                            <div class="center-item">
                                <span>From </span>
                                <input type="number" class="filter-field">
                                <span> to </span>
                                <input type="number" class="filter-field">
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container">
                            <span class="filter-header">Area</span>
                            <div class="center-item">
                                <span>From </span>
                                <input type="number" class="filter-field">
                                <span> to </span>
                                <input type="number" class="filter-field">
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container">
                            <span class="filter-header">Hause year</span>
                            <div class="center-item">
                                <span>From </span>
                                <input type="number" class="filter-field">
                                <span> to </span>
                                <input type="number" class="filter-field">
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container center-item">
                            <span class="filter-header">Pool</span>
                            <div class="center-item">
                                <mat-radio-group aria-label="Select an option" class="checkbox-filter d-flex" color="primary">
                                    <mat-radio-button value="1">Present</mat-radio-button>
                                    <mat-radio-button value="2">Absent</mat-radio-button>
                                    <mat-radio-button value="3">Anyway</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container center-item">
                            <span class="filter-header">Balkon</span>
                            <div class="center-item">
                                <mat-radio-group aria-label="Select an option" class="checkbox-filter d-flex" color="primary">
                                    <mat-radio-button value="1">Present</mat-radio-button>
                                    <mat-radio-button value="2">Absent</mat-radio-button>
                                    <mat-radio-button value="3">Anyway</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="one-filter-container center-item">
                            <span class="filter-header">Can be rent</span>
                            <div class="center-item">
                                <mat-radio-group aria-label="Select an option" class="checkbox-filter d-flex" color="primary">
                                    <mat-radio-button value="1">Present</mat-radio-button>
                                    <mat-radio-button value="2">Absent</mat-radio-button>
                                    <mat-radio-button value="3">Anyway</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item>
                        <div class="center-item">
                            <button mat-raised-button color="primary" (click)="Search()">Search</button>
                            <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="GetAllAds()">GetAll</button>
                        </div>
                    </mat-list-item>
                </mat-list>
            </form>
            </div>
        </mat-card>
    </div>
</div>