<div class="card cardSize">
    <div class="card-body row">
        <div class="col-6 col-md-4">
            <img src="../../../assets/images/dreamhouse.png" alt="" width="100%" height="100%">
        </div>
        <div class="col-12 col-md-8 row box">
            <div style="text-align: right;">
                <mat-icon style="cursor: pointer;margin-right: 5px;">star_border</mat-icon>
                <mat-icon style="cursor: pointer;">compare</mat-icon>
            </div>
            <div>Area: {{advertisment.areaOfHouse}} (km2)</div>
            <div>Year: {{advertisment.houseYear}}</div>
            <div>Room number: {{advertisment.roomNumber}}</div>
            <div>Balkon: {{advertisment.balkon}}</div>
            <div>Price: <span class="money">{{advertisment.price | currency}}</span></div>
        </div>
    </div>
</div>


<!-- <div class="main-div">
<mat-card class="example-card">
    <mat-grid-list cols="3">
        <mat-grid-tile colspan="1" rowspan="1">
            <img src="../../../assets/images/dreamhouse.png" alt="" width="100%">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <div style="width: 100%;height: 100%;" class="row">
                <div style="text-align: right;">
                    <mat-icon style="cursor: pointer;">star_border</mat-icon>
                    <mat-icon style="cursor: pointer;">compare</mat-icon>
                </div>
                <div>Area: 541 (km2)</div>
                <div>Year: 2015</div>
                <div>Room number: 4</div>
                <div>Balkon: Yes</div>
                <div>Price: 55000$</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
</div> -->