<div style="margin-top: 20px; margin-bottom: 20px;" class="d-flex justify-content-center">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center row">
            <span style="width:70%;" class="slogan1">Find your nest</span>
            <div class="d-flex justify-content-center align-items-center">
                <button mat-raised-button color="primary" class="buttonExtraClass" routerLink="/advertisment/search">Get Started</button>
            </div>
        </div>

        <img src="../../assets/images/dreamhouse.png" width="500">
    </div>
</div>
<mat-divider class="divider"></mat-divider>

<section class="page-section" id="services">
    <div class="container">
        <br>
        <h2 class="text-center mt-0">About the Service</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="../../assets/images/conversation.png" width="50">
                    <h3 class="h4 mb-2">Cooperation</h3>
                    <p class="text-muted mb-0">We will always be very happy to improve our site, so leave feedback.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="../../assets/images/house.png" width="50">
                    <h3 class="h4 mb-2">Large assortement</h3>
                    <p class="text-muted mb-0">UAHause is a platform on which the big choice of the real estate is
                        presented.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="../../assets/images/pidbir.png" width="50">
                    <h3 class="h4 mb-2">Comfortable search</h3>
                    <p class="text-muted mb-0">Search for the property you need by following the following
                        characteristics of the site.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="../../assets/images/doc.png" width="50">
                    <h3 class="h4 mb-2">Documents check</h3>
                    <p class="text-muted mb-0">Upload along with photos and documents to the property for reliability.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 50px 70px 40px 70px;" class="col-lg-11 col-md-6 text-center">
        UAHause is a platform that was created to facilitate the search, purchase and rental of real estate.
        Since the site claims a service with a high range, it has a wide selection of all the necessary parameters for
        real estate.
        The site allows you to promote your ads with cash donations. In order for the ad to become more popular and
        increase demand,
        upload it along with real estate photos and photos of documents. Our site is always happy to objective criticism
        and advice
        to improve the efficiency of the platform. UAHouse is always ready to cooperate, both to sell advertising and to
        buy, under
        all conditions of cooperation address to the administrator on contacts in the bottom of a site.
    </div>
</section>

<!-- Footer -->
<footer class="text-center text-white backgroundcolor-primary">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4" style="display:none;">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong></strong>
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
        <!-- Section: Text -->
        <section class="mb-4">
            <h3>
                Contact details and cooperation
            </h3>
        </section>
        <!-- Section: Text -->
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase bottomHeaderText">Support</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <h6 href="#!" class="text-white" style="font-size: 10pt;">PrivatBank</h6>
                        </li>
                        <li>
                            <a href="#!" class="text-white">2123 2184 9874 7756</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase bottomHeaderText">Cooperation</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Advertisment</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Partnership</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase bottomHeaderText">HOTLINE</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <h6 href="#!" class="text-white" style="font-size:10pt">+38 (095) 625-98-23</h6>
                        </li>
                        <li>
                            <h6 href="#!" class="text-white" style="font-size:10pt">+38 (050) 600-90-30</h6>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase bottomHeaderText">COPYRITHT</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Author</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Rights</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021:
        <a class="text-white" href="#">UAHause.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->